%h1 MonoOki

.entry_app_list
  - @apks.each do |apk|
    .well{:data => {:tag => apk.tag}}
      %span.apk_title
        = link_to apk.title, apk
      %span.apk_delete_link
        = link_to '×', apk, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %hr
      .apk_desc
        = apk.desc
      %span.apk_download_link.btn{:data => {:id => apk.id, :download_link => apk.link}}
        download
%br

= link_to 'New Apk', new_apk_path
