.entry_app_list {
  .well {
    padding: 6px;
    margin-bottom: 12px;
    overflow: hidden;

    hr {
      margin: 6px;
    }

    .apk_title {
      font-size: 16px;
    }

    .apk_delete_link {
      float: right;
    }

    .apk_download_link {
      float: right;
    }
  }

  .downloaded {
    opacity: 0.4
  }
}

.upload_input {
  padding-bottom: 10px;

  .desc_input_area {
    height: 60px;
  }
}
